@import "../config/mixin";
@import "../config/variables";

#event.wrap header {
  background-color: #008F01;
}

main.event {
  background-color: #008F01;
  padding-top: 120px;

  section.event {
    h2 {
      color: #fff;
      font-size: 45px;
      text-align: center;
    }

    ul.event_menu {
      @include flex_row(space-between, center);
      width: 50%;
      margin: 40px auto;

      li {
        color: #3F4A3C;
        height: 35px;
        font-size: 25px;
        padding: 0 10px;
        cursor: pointer;

        &:hover {
          color: #fff;
          border-bottom: 3px solid tomato;
        }

        &.on {
          color: #fff;
          border-bottom: 3px solid tomato;
        }
      }
    }//ul.event_menu
    ul.event_container{
      // border: 1px solid #fff;
      width: 85%;
      margin: 0 auto;

      li.ongoing, li.finished, li.announce{
        width: 100%;

        ul.ongoing_box, ul.finished_box{
          @include flex_row(space-between,center);
          flex-wrap: wrap;

          li{
            position: relative;
            width: 30%;
            padding-top: 23%;
            margin-bottom: 30px;
            // border: 1px solid red;
            img{
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: calc(100% - 30px);
              background-color: #fff;
              border-radius: 10%;
            }
            div{
              font-size: 20px;
              text-align: center;
            }
          }
        }

        div.ongoing_btn, div.finished_btn{
          text-align: center;
          
          button{
            font-size: 20px;
            background: none;
            border: none;
            padding: 50px 15px;
            cursor: pointer;
            &:hover{
              transform: scale(1.2);
            }
            &.on{
                transform: scale(1.2);
                text-decoration: underline;
              }
            i{
              color: #fff;
              opacity: 0.5;
              &:hover{
                opacity: 1;
              }
            }
          }
        }
      } //li.ongoing, li.finished
      li.announce{
        background-color: #fff;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;

        form{
          text-align: right;
          padding: 20px;
          select{
            width: 100px;
            font-size: 16px;
            padding: 5px 10px;
            border-radius: 5px;
          }
          input{
            width: 250px;
            font-size: 16px;
            padding: 5px 10px;
            background-color: #d9d9d9;
            border-style: solid;
            border-color: #d9d9d9;
            border-radius: 5px;
          }
          a.search-btn{
            margin: 0 10px;
            font-size: 22px;
            z-index: 2;
            i {
              color: #fff;
            }
          }
        }
        div.tableBox{
          width: 100%;
          table{
            width: 100%;
            text-align: center;
            thead{
              border-top: 1px solid #333;
              td{
                font-size: 20px;
                font-weight: bold;
                padding: 20px 0;
              }
            }
            tbody{
              td{
                padding: 20px;
                border-top: 1px solid #d9d9d9;
                border-bottom: 1px solid #d9d9d9;
              }
            }
          }
        }
        div.announce_btn{
          text-align: center;
          
          button{
            font-size: 20px;
            background: none;
            border: none;
            padding: 50px 15px;
            cursor: pointer;
            &:hover{
              transform: scale(1.2);
            }
            &.on{
              transform: scale(1.2);
              text-decoration: underline;
            }
            i{
              color: #008F01;
              opacity: 0.5;
              &:hover{
                opacity: 1;
              }
            }
          }
        }
      }//li.announce
    }
  }
}

// main
/* .ongoing{
  display: none;
} */
.finished, .announce, .table_2, .table_3{
  display: none;
}
/* .finished_box_2, .finished_box_3{
  display: none;
} */