@import "../config/_mixin.scss";
@import "../config/_variables.scss";

.promotion_wrap {
  background-color: #e5014f;
  main.promotion {
    position: relative;
    height: max-content;
    width: 100%;
    .heightBox {
      width: 100%;
      height: 1800px;
      pointer-events: none;
    }
    article[class*="show_"] {
      @include flex_row(center, center);
      position: absolute;
      width: max-content;
      transition: all linear 0.5s;
      img {
        display: block;
        width: 300px;
        box-shadow: 0px 55px 20px 20px rgba($color: #333, $alpha: 0.4);
      }
      .show_desc {
        margin-left: 20px;
        h3 {
          font-size: 28px;
          font-weight: 600;
          color: #fff;
        }
        span.show_info {
          display: block;
          font-size: 18px;
          font-weight: 300;
          color: #fff;
          width: 250px;
          margin-top: 10px;
        }
      }
      &.show_1 {
        left: 400px;
        top: 250px;
      }
      &.show_2 {
        left: 600px;
        top: 750px;
        opacity: 0;
      }
      &.show_3 {
        left: 400px;
        top: 1250px;
        opacity: 0;
      }
      &.on {
        animation: showPromotion 0.5s linear forwards;
      }
    } // article
    section.gameEvent {
      height: 800px;
      width: 100%;
      h2.gameEvent_title {
        font-size: 38px;
        font-weight: 700;
        text-align: center;
        color: #333;
        background-color: #fff;
        width: max-content;
        margin: 0 auto;
        padding: 15px 30px;
        border-radius: 50px;
        box-shadow: 0px 10px 5px 0px rgba($color: #333, $alpha: 0.3);
      }
      span.gameEvent_desc {
        display: block;
        font-size: 28px;
        color: #fff;
        text-align: center;
        margin-top: 30px;
        text-shadow: 0px 5px 3px rgba($color: #333, $alpha: 0.6);
      }
      article.eventBox {
        position: relative;
        width: 70%;
        height: 500px;
        background-color: #f1f1f1;
        border-radius: 30px;
        margin: 30px auto;
        div {
          -ms-user-select: none;
          -moz-user-select: -moz-none;
          -khtml-user-select: none;
          -webkit-user-select: none;
          user-select: none;
          display: none;
          h3.event_desc {
            font-size: 24px;
            font-weight: bold;
            em {
              background-color: #333;
              padding: 5px 10px;
              border-radius: 5px;
              color: #fff;
              margin-right: 10px;
            }
          }
          button.checkAnswer {
            width: 150px;
            height: 50px;
            border: none;
            border-radius: 5px;
            background-color: #333;
            color: #fff;
            font-size: 24px;
            font-weight: bold;
            box-shadow: 0px 10px 10px 0px rgba($color: #333, $alpha: 0.2);
            cursor: pointer;
            &:hover {
              transform: scale(103%);
              color: tomato;
            }
          }
        } // eventBox common
        .startEvent {
          justify-content: center;
          align-items: center;
          width: 100%;
          height: 100%;
          span.playBtn {
            font-size: 37px;
            font-weight: bold;
            color: #f1f1f1;
            background-color: #e5014f;
            padding: 15px 30px;
            border-radius: 100px;
            border: 10px solid #efefef;
            cursor: pointer;
            box-shadow: 0px 10px 10px 0px rgba($color: #333, $alpha: 0.3);
            &:hover {
              transform: scale(0.95);
            }
          }
        } // startEvent
        .dragEvent {
          flex-direction: column;
          align-items: center;
          justify-content: space-between;
          height: 100%;
          width: 100%;
          padding: 30px 10px;
          .dragArea {
            @include flex_column(space-between, center);
            width: 100%;
            height: 300px;
            padding: 0px 30px;
            #draggables {
              position: relative;
              display: block;
              width: 100%;
              height: 100px;
              #draggable {
                @include flex_row(center, center);
                width: 15%;
                height: 100px;
                background-color: slateblue;
                color: #fff;
                font-size: 28px;
                font-weight: bold;
                border-radius: 10px;
                overflow: hidden;
                cursor: pointer;
                position: absolute;
                top: 0px;
                &[data-drag-index="1"] {
                  left: 0%;
                }
                &[data-drag-index="2"] {
                  left: 17%;
                }
                &[data-drag-index="3"] {
                  left: 34%;
                }
                &[data-drag-index="4"] {
                  left: 51%;
                }
                &[data-drag-index="5"] {
                  left: 68%;
                }
                &[data-drag-index="6"] {
                  left: 85%;
                }
              }
            }
            #droppables {
              display: flex;
              justify-content: space-between;
              align-items: center;
              width: 100%;
              height: 100px;
              #droppable {
                @include flex_row(center, center);
                width: 15%;
                height: 100px;
                border: 3px solid slateblue;
                border-radius: 10px;
                &.over {
                  border: 3px dashed slateblue;
                }
                &.complete {
                  background-color: slateblue;
                  border: 3px solid gold;
                  color: #fff;
                  font-size: 28px;
                  font-weight: bold;
                  pointer-events: none;
                }
              }
            }
          } // dragArea
        } // dragEvent
        .lineEvent {
          flex-direction: column;
          align-items: center;
          justify-content: space-between;
          height: 100%;
          width: 100%;
          padding: 30px 10px;
        }
        .on {
          display: flex;
        }
      } // eventBox
    } // dragEvent
  } // main
} // wrap

@keyframes showPromotion {
  0% {
    opacity: 0;
    transform: translateY(200px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

#draggable {
  @include flex_row(center, center);
  max-width: 130px;
  width: 100%;
  height: 100px;
  background-color: slateblue;
  box-shadow: 0px 10px 10px 0px rgba($color: #333, $alpha: 0.3);
  color: #fff;
  font-size: 28px;
  font-weight: bold;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  -ms-user-select: none;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
