@import "../config/_mixin.scss";
@import "../config/_variables.scss";

.promotion_wrap {
  background-color: #e5014f;
  height: 300vh;
  main.promotion {
    position: relative;
    article {
      position: absolute;
      width: max-content;
      img {
        display: block;
        width: 200px;
      }
    }
  } // main
} // wrap
