@import "../config/_mixin.scss";
@import "../config/_variables.scss";

.promotion_wrap {
  background-color: #e5014f;
  main.promotion {
    position: relative;
    height: max-content;
    width: 100%;
    .heightBox {
      width: 100%;
      height: 1800px;
      pointer-events: none;
    }
    article[class*="show_"] {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      width: max-content;
      transition: all linear 0.5s;
      img {
        display: block;
        width: 300px;
        box-shadow: 0px 55px 20px 20px rgba($color: #333, $alpha: 0.4);
      }
      .show_desc {
        margin-left: 20px;
        h3 {
          font-size: 28px;
          font-weight: 600;
          color: #fff;
        }
        span.show_info {
          display: block;
          font-size: 18px;
          font-weight: 300;
          color: #fff;
          width: 250px;
          margin-top: 10px;
        }
      }
      &.show_1 {
        left: 400px;
        top: 250px;
      }
      &.show_2 {
        left: 600px;
        top: 750px;
        opacity: 0;
      }
      &.show_3 {
        left: 400px;
        top: 1250px;
        opacity: 0;
      }
      &.on {
        animation: showPromotion 0.5s linear forwards;
      }
    } // article
    section.dragEvent {
      height: 800px;
      width: 100%;
      h2.dragEvent_title {
        font-size: 38px;
        font-weight: 700;
        text-align: center;
        color: #333;
        background-color: #fff;
        width: max-content;
        margin: 0 auto;
        padding: 15px 30px;
        border-radius: 50px;
        box-shadow: 0px 10px 5px 0px rgba($color: #333, $alpha: 0.3);
      }
      span.dragEvent_desc {
        display: block;
        font-size: 28px;
        color: #fff;
        text-align: center;
        margin-top: 30px;
        text-shadow: 0px 5px 3px rgba($color: #333, $alpha: 0.6);
      }
      article.eventBox {
        width: 70%;
        height: 500px;
        background-color: #f1f1f1;
        border-radius: 30px;
        margin: 30px auto;
        .start {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          height: 100%;
          span.playBtn {
            font-size: 37px;
            font-weight: bold;
            color: #f1f1f1;
            background-color: #e5014f;
            padding: 15px 30px;
            border-radius: 100px;
            border: 10px solid #efefef;
            cursor: pointer;
            box-shadow: 0px 10px 10px 0px rgba($color: #333, $alpha: 0.2);
            &:hover {
              transform: scale(0.95);
            }
          }
        }
      } // eventBox
    } // dragEvent
  } // main
} // wrap

@keyframes showPromotion {
  0% {
    opacity: 0;
    transform: translateY(200px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
