/*!***************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/scss/styles.scss ***!
  \***************************************************************************************************************/
@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap);
/*!*******************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/scss/styles.scss (1) ***!
  \*******************************************************************************************************************/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  display: flex;
  position: fixed;
  background-color: transparent;
  width: 100%;
  height: 80px;
  z-index: 1;
}
header .header_inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 1440px;
  margin: 0 auto;
}
@media screen and (max-width: 1440px) {
  header .header_inner {
    width: 100%;
  }
}
header .header_inner .logo {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  z-index: 2;
  margin-left: 30px;
}
header .header_inner nav {
  z-index: 2;
  height: 100%;
  width: max-content;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
header .header_inner nav a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100%;
  width: 100px;
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  text-align: center;
}
header .header_inner nav a:hover .nav_border {
  transform: scale(1);
}
header .header_inner nav a .nav_border {
  position: absolute;
  bottom: 0px;
  left: 0px;
  height: 3px;
  width: 100%;
  border-radius: 1.5px;
  background-color: red;
  transform: scaleX(0);
  transform-origin: left;
  transition: all ease-in-out 0.3s;
}
header .header_inner .myPage {
  z-index: 2;
  margin-right: 30px;
}
header .header_inner .myPage a {
  margin: 0 10px;
  font-size: 22px;
  z-index: 2;
}
header .header_inner .myPage a i {
  color: #fff;
}
header .header_inner .myPage a span {
  color: #fff;
  font-size: 16px;
}
header .header_inner .header_bg {
  position: absolute;
  background-color: #fff;
  z-index: 1;
  width: 100%;
  height: 100%;
  transform: translateY(-100%);
  transition: all ease-in-out 0.3s;
  border-radius: 0px 0px 25px 25px;
  box-shadow: 0px 5px 10px rgba(51, 51, 51, 0.1);
}

.header_inner.on a {
  color: #333;
}
.header_inner.on i {
  color: #333;
}
.header_inner.on .myPage i {
  color: #333;
}
.header_inner.on .myPage span {
  color: #333;
}

#login .header_inner a,
#join .header_inner a {
  color: #333;
}
#login .header_inner i,
#join .header_inner i {
  color: #333;
}
#login .header_inner .myPage i,
#join .header_inner .myPage i {
  color: #333;
}
#login .header_inner .myPage span,
#join .header_inner .myPage span {
  color: #333;
}

footer {
  width: 100%;
  height: 350px;
  background-color: #f8f8f8;
}
footer .footer_inner {
  width: 1440px;
  margin: 0 auto;
}
@media screen and (max-width: 1440px) {
  footer .footer_inner {
    width: 100%;
  }
}
footer .footer_inner .footer_nav {
  display: flex;
  justify-content: space-between;
  height: 80px;
  border-bottom: 1px solid #d9d9d9;
  padding: 0px 30px;
}
footer .footer_inner .footer_nav div {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .footer_inner .footer_nav div span {
  padding: 0px 15px;
  font-size: 14px;
  border-right: 1px solid gray;
  color: gray;
}
footer .footer_inner .footer_nav div span:last-child {
  border-right: none;
}
footer .footer_inner .footer_info {
  display: flex;
  justify-content: space-between;
  padding: 30px;
}
footer .footer_inner .footer_info .info_left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 70%;
}
footer .footer_inner .footer_info .info_left span {
  color: gray;
  font-size: 14px;
}
footer .footer_inner .footer_info .info_left span.copyright {
  margin-top: 20px;
}
footer .footer_inner .footer_info .info_left strong {
  margin: 20px 0px;
  font-size: 15px;
}
footer .footer_inner .footer_info .info_right {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20%;
}
footer .footer_inner .footer_info .info_right .socials {
  display: flex;
  justify-content: center;
}
footer .footer_inner .footer_info .info_right .socials div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: 1px solid gray;
  border-radius: 50%;
  margin: 0px 5px;
}
footer .footer_inner .footer_info .info_right .socials div i {
  font-size: 18px;
  color: gray;
}
footer .footer_inner .footer_info .info_right .advertising {
  width: 80%;
  height: 150px;
  margin-top: 20px;
}
footer .footer_inner .footer_info .info_right .advertising img {
  object-fit: contain;
  width: 100%;
  height: 100%;
  aspect-ratio: initial;
}

main.home section.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: tomato;
  transition: all linear 0.2s;
  overflow: hidden;
}
main.home section.banner .slider {
  position: relative;
  width: 100%;
  height: 60vh;
}
main.home section.banner .slider .slide {
  position: absolute;
  display: flex;
  width: 700%;
  height: 100%;
}
main.home section.banner .slider .slide .item {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100vw;
  height: 100%;
  border-radius: 30px;
}
main.home section.banner .slider .slide .item img {
  display: block;
  object-fit: cover;
  width: 80%;
  height: 100%;
  border-radius: 30px;
  box-shadow: 0px 10px 15px 5px rgba(51, 51, 51, 0.5);
}
main.home section.banner .slider .slide .item .introduce_cat {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  left: 50%;
  bottom: -80px;
  transform: translate(-50%, 80px);
  opacity: 0;
  transition: all linear 0.5s;
  font-size: 38px;
  font-weight: bold;
  text-align: center;
}
main.home section.banner .slider .slide .item .introduce_cat span {
  color: #fff;
  margin-bottom: 10px;
}
main.home section.banner .slider .slide .item .introduce_cat .cat_desc {
  font-size: 24px;
  font-weight: 500;
}
main.home section.banner .slider .slide .item.on .introduce_cat {
  transform: translate(-50%, 30px);
  opacity: 1;
}
main.home section.banner .slider button {
  position: absolute;
  transform: translateY(-50%);
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  font-size: 44px;
}
main.home section.banner .slider button i {
  color: rgba(255, 255, 255, 0.5);
}
main.home section.banner .slider button i:hover {
  color: #fff;
}
main.home section.banner .slider button:nth-of-type(1) {
  right: 5%;
  top: 50%;
}
main.home section.banner .slider button:nth-of-type(2) {
  left: 5%;
  top: 50%;
}
main.home section.newCats {
  width: 100%;
  height: 300px;
}
main.home section.onSale {
  width: 100%;
  height: 300px;
}

.promotion_wrap {
  background-color: #e5014f;
}
.promotion_wrap main.promotion {
  position: relative;
  height: max-content;
  width: 100%;
}
.promotion_wrap main.promotion .heightBox {
  width: 100%;
  height: 1800px;
  pointer-events: none;
}
.promotion_wrap main.promotion article[class*=show_] {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: max-content;
  transition: all linear 0.5s;
}
.promotion_wrap main.promotion article[class*=show_] img {
  display: block;
  width: 300px;
  box-shadow: 0px 55px 20px 20px rgba(51, 51, 51, 0.4);
}
.promotion_wrap main.promotion article[class*=show_] .show_desc {
  margin-left: 20px;
}
.promotion_wrap main.promotion article[class*=show_] .show_desc h3 {
  font-size: 28px;
  font-weight: 600;
  color: #fff;
}
.promotion_wrap main.promotion article[class*=show_] .show_desc span.show_info {
  display: block;
  font-size: 18px;
  font-weight: 300;
  color: #fff;
  width: 250px;
  margin-top: 10px;
}
.promotion_wrap main.promotion article[class*=show_].show_1 {
  left: 400px;
  top: 250px;
}
.promotion_wrap main.promotion article[class*=show_].show_2 {
  left: 600px;
  top: 750px;
  opacity: 0;
}
.promotion_wrap main.promotion article[class*=show_].show_3 {
  left: 400px;
  top: 1250px;
  opacity: 0;
}
.promotion_wrap main.promotion article[class*=show_].on {
  animation: showPromotion 0.5s linear forwards;
}
.promotion_wrap main.promotion section.gameEvent {
  height: 800px;
  width: 100%;
}
.promotion_wrap main.promotion section.gameEvent h2.gameEvent_title {
  font-size: 38px;
  font-weight: 700;
  text-align: center;
  color: #333;
  background-color: #fff;
  width: max-content;
  margin: 0 auto;
  padding: 15px 30px;
  border-radius: 50px;
  box-shadow: 0px 10px 5px 0px rgba(51, 51, 51, 0.3);
}
.promotion_wrap main.promotion section.gameEvent span.gameEvent_desc {
  display: block;
  font-size: 28px;
  color: #fff;
  text-align: center;
  margin-top: 30px;
  text-shadow: 0px 5px 3px rgba(51, 51, 51, 0.6);
}
.promotion_wrap main.promotion section.gameEvent article.eventBox {
  position: relative;
  width: 70%;
  height: 500px;
  background-color: #f1f1f1;
  border-radius: 30px;
  margin: 30px auto;
}
.promotion_wrap main.promotion section.gameEvent article.eventBox div {
  display: none;
}
.promotion_wrap main.promotion section.gameEvent article.eventBox .startEvent {
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.promotion_wrap main.promotion section.gameEvent article.eventBox .startEvent span.playBtn {
  font-size: 37px;
  font-weight: bold;
  color: #f1f1f1;
  background-color: #e5014f;
  padding: 15px 30px;
  border-radius: 100px;
  border: 10px solid #efefef;
  cursor: pointer;
  box-shadow: 0px 10px 10px 0px rgba(51, 51, 51, 0.3);
}
.promotion_wrap main.promotion section.gameEvent article.eventBox .startEvent span.playBtn:hover {
  transform: scale(0.95);
}
.promotion_wrap main.promotion section.gameEvent article.eventBox .dragEvent {
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  padding: 30px 10px;
}
.promotion_wrap main.promotion section.gameEvent article.eventBox .dragEvent h3.event_desc {
  font-size: 24px;
  font-weight: bold;
}
.promotion_wrap main.promotion section.gameEvent article.eventBox .dragEvent h3.event_desc em {
  background-color: #333;
  padding: 5px 10px;
  border-radius: 5px;
  color: #fff;
  margin-right: 10px;
}
.promotion_wrap main.promotion section.gameEvent article.eventBox .dragEvent .dragArea {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: space-between;
  width: 100%;
  height: 250px;
  padding: 0px 30px;
}
.promotion_wrap main.promotion section.gameEvent article.eventBox .dragEvent .dragArea .draggables {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  width: 100%;
  height: 100px;
  gap: 15px;
}
.promotion_wrap main.promotion section.gameEvent article.eventBox .dragEvent .dragArea .draggables .draggable {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: slateblue;
  box-shadow: 0px 10px 10px 0px rgba(51, 51, 51, 0.3);
  color: #fff;
  font-size: 28px;
  font-weight: bold;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
}
.promotion_wrap main.promotion section.gameEvent article.eventBox .dragEvent .dragArea .droppables {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  width: 100%;
  height: 100px;
  gap: 15px;
}
.promotion_wrap main.promotion section.gameEvent article.eventBox .dragEvent .dragArea .droppables .droppable {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 3px solid slateblue;
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
}
.promotion_wrap main.promotion section.gameEvent article.eventBox .dragEvent .dragArea .droppables .droppable.over {
  border: 3px dashed slateblue;
}
.promotion_wrap main.promotion section.gameEvent article.eventBox .dragEvent .dragArea .droppables .droppable.on {
  background-color: slateblue;
}
.promotion_wrap main.promotion section.gameEvent article.eventBox .dragEvent button.checkAnswer {
  width: 150px;
  height: 50px;
  border: none;
  border-radius: 5px;
  background-color: #333;
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  box-shadow: 0px 10px 10px 0px rgba(51, 51, 51, 0.2);
  cursor: pointer;
}
.promotion_wrap main.promotion section.gameEvent article.eventBox .dragEvent button.checkAnswer:hover {
  transform: scale(103%);
  color: tomato;
}
.promotion_wrap main.promotion section.gameEvent article.eventBox .on {
  display: flex;
}

@keyframes showPromotion {
  0% {
    opacity: 0;
    transform: translateY(200px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
main.login {
  height: 100vh;
}
main.login .blankBox {
  height: 80px;
}
main.login h2 {
  text-align: center;
  font-size: 38px;
  font-weight: bold;
  margin: 100px 0px 20px 0px;
}
main.login .benefits {
  display: block;
  text-align: center;
  width: max-content;
  margin: 0 auto;
  line-height: 1.6;
  color: gray;
  margin-bottom: 30px;
}
main.login form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 400px;
  height: 270px;
  margin: 0 auto;
}
main.login form input {
  width: 100%;
  height: 60px;
  outline: none;
  background-color: #f1f1f1;
  border: none;
  border-radius: 5px;
  padding: 0px 10px;
  font-size: 16px;
}
main.login form button,
main.login form a {
  width: 100%;
  height: 60px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
}
main.login form button:active,
main.login form a:active {
  transform: scale(0.98);
}
main.login form button {
  background-color: #ef2a23;
  color: #fff;
}
main.login form button:hover {
  background-color: #d5201a;
}
main.login form a {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #d9d9d9;
}
main.login form a:hover {
  background-color: #f1f1f1;
}

main.join {
  height: 100vh;
}
main.join .blankBox {
  height: 80px;
}
main.join h2.join_title {
  text-align: center;
  font-size: 38px;
  font-weight: bold;
  margin: 80px 0px 20px 0px;
}
main.join .benefits {
  display: block;
  text-align: center;
  width: max-content;
  margin: 0 auto;
  line-height: 1.6;
  color: gray;
  margin-bottom: 30px;
}
main.join form {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: max-content;
  margin: 0 auto;
}
main.join form article {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
main.join form article label {
  position: relative;
  margin-left: 15px;
}
main.join form article label::after {
  content: "";
  position: absolute;
  left: -15px;
  top: 50%;
  transform: translateY(-50%);
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: rgb(255, 70, 70);
}
main.join form article input {
  width: 78%;
  height: 50px;
  padding: 0px 10px;
  outline: none;
  border: 1px solid #d9d9d9;
  font-size: 16px;
}
main.join form article input::placeholder {
  color: #bebebe;
}
main.join form button {
  width: 100%;
  height: 60px;
  background-color: #ef2a23;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
}
main.join form button:hover {
  background-color: #d5201a;
}
main.join form button:active {
  transform: scale(0.98);
}

#event.wrap header {
  background-color: #008F01;
}

main.event {
  background-color: #008F01;
  padding-top: 120px;
}
main.event section.event h2 {
  color: #fff;
  font-size: 45px;
  text-align: center;
}
main.event section.event ul.event_menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  margin: 40px auto;
}
main.event section.event ul.event_menu li {
  color: #3F4A3C;
  height: 35px;
  font-size: 25px;
  padding: 0 10px;
  cursor: pointer;
}
main.event section.event ul.event_menu li:hover {
  color: #fff;
  border-bottom: 3px solid tomato;
}
main.event section.event ul.event_menu li.on {
  color: #fff;
  border-bottom: 3px solid tomato;
}
main.event section.event ul.event_container {
  width: 85%;
  margin: 0 auto;
}
main.event section.event ul.event_container li.ongoing, main.event section.event ul.event_container li.finished, main.event section.event ul.event_container li.announce {
  width: 100%;
}
main.event section.event ul.event_container li.ongoing ul.ongoing_box, main.event section.event ul.event_container li.ongoing ul.finished_box, main.event section.event ul.event_container li.finished ul.ongoing_box, main.event section.event ul.event_container li.finished ul.finished_box, main.event section.event ul.event_container li.announce ul.ongoing_box, main.event section.event ul.event_container li.announce ul.finished_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
main.event section.event ul.event_container li.ongoing ul.ongoing_box li, main.event section.event ul.event_container li.ongoing ul.finished_box li, main.event section.event ul.event_container li.finished ul.ongoing_box li, main.event section.event ul.event_container li.finished ul.finished_box li, main.event section.event ul.event_container li.announce ul.ongoing_box li, main.event section.event ul.event_container li.announce ul.finished_box li {
  position: relative;
  width: 30%;
  padding-top: 23%;
  margin-bottom: 30px;
}
main.event section.event ul.event_container li.ongoing ul.ongoing_box li img, main.event section.event ul.event_container li.ongoing ul.finished_box li img, main.event section.event ul.event_container li.finished ul.ongoing_box li img, main.event section.event ul.event_container li.finished ul.finished_box li img, main.event section.event ul.event_container li.announce ul.ongoing_box li img, main.event section.event ul.event_container li.announce ul.finished_box li img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% - 30px);
  background-color: #fff;
  border-radius: 10%;
}
main.event section.event ul.event_container li.ongoing ul.ongoing_box li div, main.event section.event ul.event_container li.ongoing ul.finished_box li div, main.event section.event ul.event_container li.finished ul.ongoing_box li div, main.event section.event ul.event_container li.finished ul.finished_box li div, main.event section.event ul.event_container li.announce ul.ongoing_box li div, main.event section.event ul.event_container li.announce ul.finished_box li div {
  font-size: 20px;
  text-align: center;
}
main.event section.event ul.event_container li.ongoing div.ongoing_btn, main.event section.event ul.event_container li.ongoing div.finished_btn, main.event section.event ul.event_container li.finished div.ongoing_btn, main.event section.event ul.event_container li.finished div.finished_btn, main.event section.event ul.event_container li.announce div.ongoing_btn, main.event section.event ul.event_container li.announce div.finished_btn {
  text-align: center;
}
main.event section.event ul.event_container li.ongoing div.ongoing_btn button, main.event section.event ul.event_container li.ongoing div.finished_btn button, main.event section.event ul.event_container li.finished div.ongoing_btn button, main.event section.event ul.event_container li.finished div.finished_btn button, main.event section.event ul.event_container li.announce div.ongoing_btn button, main.event section.event ul.event_container li.announce div.finished_btn button {
  font-size: 20px;
  background: none;
  border: none;
  padding: 50px 15px;
  cursor: pointer;
}
main.event section.event ul.event_container li.ongoing div.ongoing_btn button:hover, main.event section.event ul.event_container li.ongoing div.finished_btn button:hover, main.event section.event ul.event_container li.finished div.ongoing_btn button:hover, main.event section.event ul.event_container li.finished div.finished_btn button:hover, main.event section.event ul.event_container li.announce div.ongoing_btn button:hover, main.event section.event ul.event_container li.announce div.finished_btn button:hover {
  transform: scale(1.2);
}
main.event section.event ul.event_container li.ongoing div.ongoing_btn button.on, main.event section.event ul.event_container li.ongoing div.finished_btn button.on, main.event section.event ul.event_container li.finished div.ongoing_btn button.on, main.event section.event ul.event_container li.finished div.finished_btn button.on, main.event section.event ul.event_container li.announce div.ongoing_btn button.on, main.event section.event ul.event_container li.announce div.finished_btn button.on {
  transform: scale(1.2);
  text-decoration: underline;
}
main.event section.event ul.event_container li.ongoing div.ongoing_btn button i, main.event section.event ul.event_container li.ongoing div.finished_btn button i, main.event section.event ul.event_container li.finished div.ongoing_btn button i, main.event section.event ul.event_container li.finished div.finished_btn button i, main.event section.event ul.event_container li.announce div.ongoing_btn button i, main.event section.event ul.event_container li.announce div.finished_btn button i {
  color: #fff;
  opacity: 0.5;
}
main.event section.event ul.event_container li.ongoing div.ongoing_btn button i:hover, main.event section.event ul.event_container li.ongoing div.finished_btn button i:hover, main.event section.event ul.event_container li.finished div.ongoing_btn button i:hover, main.event section.event ul.event_container li.finished div.finished_btn button i:hover, main.event section.event ul.event_container li.announce div.ongoing_btn button i:hover, main.event section.event ul.event_container li.announce div.finished_btn button i:hover {
  opacity: 1;
}
main.event section.event ul.event_container li.announce {
  background-color: #fff;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
main.event section.event ul.event_container li.announce form {
  text-align: right;
  padding: 20px;
}
main.event section.event ul.event_container li.announce form select {
  width: 100px;
  font-size: 16px;
  padding: 5px 10px;
  border-radius: 5px;
}
main.event section.event ul.event_container li.announce form input {
  width: 250px;
  font-size: 16px;
  padding: 5px 10px;
  background-color: #d9d9d9;
  border-style: solid;
  border-color: #d9d9d9;
  border-radius: 5px;
}
main.event section.event ul.event_container li.announce div.tableBox {
  width: 100%;
}
main.event section.event ul.event_container li.announce div.tableBox table {
  width: 100%;
  text-align: center;
}
main.event section.event ul.event_container li.announce div.tableBox table thead {
  border-top: 1px solid #333;
}
main.event section.event ul.event_container li.announce div.tableBox table thead td {
  font-size: 20px;
  font-weight: bold;
  padding: 20px 0;
}
main.event section.event ul.event_container li.announce div.tableBox table tbody td {
  padding: 20px;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
}
main.event section.event ul.event_container li.announce div.announce_btn {
  text-align: center;
}
main.event section.event ul.event_container li.announce div.announce_btn button {
  font-size: 20px;
  background: none;
  border: none;
  padding: 50px 15px;
  cursor: pointer;
}
main.event section.event ul.event_container li.announce div.announce_btn button:hover {
  transform: scale(1.2);
}
main.event section.event ul.event_container li.announce div.announce_btn button.on {
  transform: scale(1.2);
  text-decoration: underline;
}
main.event section.event ul.event_container li.announce div.announce_btn button i {
  color: #008F01;
  opacity: 0.5;
}
main.event section.event ul.event_container li.announce div.announce_btn button i:hover {
  opacity: 1;
}

/* .ongoing{
  display: none;
} */
.finished, .announce, .table_2, .table_3 {
  display: none;
}

/* .finished_box_2, .finished_box_3{
  display: none;
} */
* {
  font-family: "Roboto", Arial, sans-serif;
  box-sizing: border-box;
  color: #333;
}

.wrap {
  width: 100%;
}
.wrap main {
  width: 1440px;
  margin: 0 auto;
}
@media screen and (max-width: 1440px) {
  .wrap main {
    width: 100%;
  }
}
