<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/style.css">
    <!--// 모든페이지 동일 css 주소-->

    <title>event</title>
</head>

<body>
    <div class="wrap" id="event">
        <header>
            <div class="header_inner">
                <h1 class="logo">
                    <a href="./home.html">CATOPIA</a>
                </h1>
                <nav>
                    <a href="#">
                        고양이들
                        <div class="nav_border"></div>
                    </a>
                    <a href="./event.html">
                        EVENT
                        <div class="nav_border"></div>
                    </a>
                    <a href="#">
                        갤러리
                        <div class="nav_border"></div>
                    </a>
                </nav>
                <div class="myPage">
                    <a class="loginState" href="./login.html">
                        <span>로그인</span>
                    </a>
                    <a href="./home.html"><i class="fa-solid fa-basket-shopping"></i></a>
                    <a href="./home.html"><i class="fa-solid fa-magnifying-glass"></i></a>
                </div>
                <div class="header_bg"></div>
            </div>
        </header>
        <main class="event">
            <section class="event">
                <h2>이벤트</h2>
                <ul class="event_menu">
                    <li class="on">진행중 이벤트</li>
                    <li>종료된 이벤트</li>
                    <li>당첨자 발표</li>
                </ul>
                <ul class="event_container">
                    <li class="ongoing">
                        <!--진행중 이벤트-->
                        <ul class="ongoing_box">
                            <li>
                                <img src="" alt="진행중 이벤트1">
                                <div>진행중 이벤트 설명1</div>
                            </li>
                            <li>
                                <img src="" alt="진행중 이벤트2">
                                <div>진행중 이벤트 설명2</div>
                            </li>
                            <li>
                                <img src="" alt="진행중 이벤트3">
                                <div>진행중 이벤트 설명3</div>
                            </li>
                        </ul>
                        <div class="ongoing_btn">
                            <button> <i class="fa-solid fa-circle-chevron-left"></i> </button>
                            <button class="on"> 1 </button>
                            <button> <i class="fa-solid fa-circle-chevron-right"></i> </button>
                        </div>
                    </li>
                    <li class="finished">
                        <!--종료된 이벤트-->
                        <ul class="finished_box finished_box_1">
                            <li>
                                <img src="" alt="종료된 이벤트1">
                                <div>종료된 이벤트 설명1-1</div>
                            </li>
                            <li>
                                <img src="" alt="종료된 이벤트2">
                                <div>종료된 이벤트 설명1-2</div>
                            </li>
                            <li>
                                <img src="" alt="종료된 이벤트3">
                                <div>종료된 이벤트 설명1-3</div>
                            </li>
                            <li>
                                <img src="" alt="종료된 이벤트4">
                                <div>종료된 이벤트 설명1-4</div>
                            </li>
                            <li>
                                <img src="" alt="종료된 이벤트5">
                                <div>종료된 이벤트 설명1-5</div>
                            </li>
                            <li>
                                <img src="" alt="종료된 이벤트6">
                                <div>종료된 이벤트 설명1-6</div>
                            </li>
                        </ul>
                        <ul class="finished_box finished_box_2">
                            <li>
                                <img src="" alt="종료된 이벤트1">
                                <div>종료된 이벤트 설명2-1</div>
                            </li>
                            <li>
                                <img src="" alt="종료된 이벤트2">
                                <div>종료된 이벤트 설명2-2</div>
                            </li>
                            <li>
                                <img src="" alt="종료된 이벤트3">
                                <div>종료된 이벤트 설명2-3</div>
                            </li>
                            <li>
                                <img src="" alt="종료된 이벤트4">
                                <div>종료된 이벤트 설명2-4</div>
                            </li>
                            <li>
                                <img src="" alt="종료된 이벤트5">
                                <div>종료된 이벤트 설명2-5</div>
                            </li>
                            <li>
                                <img src="" alt="종료된 이벤트6">
                                <div>종료된 이벤트 설명2-6</div>
                            </li>
                        </ul>
                        <ul class="finished_box finished_box_3">
                            <li>
                                <img src="" alt="종료된 이벤트1">
                                <div>종료된 이벤트 설명3-1</div>
                            </li>
                            <li>
                                <img src="" alt="종료된 이벤트2">
                                <div>종료된 이벤트 설명3-2</div>
                            </li>
                            <li>
                                <img src="" alt="종료된 이벤트3">
                                <div>종료된 이벤트 설명3-3</div>
                            </li>
                            <li>
                                <img src="" alt="종료된 이벤트4">
                                <div>종료된 이벤트 설명3-4</div>
                            </li>
                            <li>
                                <img src="" alt="종료된 이벤트5">
                                <div>종료된 이벤트 설명3-5</div>
                            </li>
                            <li>
                                <img src="" alt="종료된 이벤트6">
                                <div>종료된 이벤트 설명3-6</div>
                            </li>
                        </ul>
                        <div class="finished_btn">
                            <button class="pre"> <i class="fa-solid fa-circle-chevron-left"></i> </button>
                            <button class="num on"> 1 </button>
                            <button class="num"> 2 </button>
                            <button class="num"> 3 </button>
                            <button class="next"> <i class="fa-solid fa-circle-chevron-right"></i> </button>
                        </div>

                    </li>
                    <li class="announce">
                        <!--당첨자 발표-->
                        <form>
                            <select name="filter" id="filter">
                                <option>제목</option>
                                <option>내용</option>
                                <option>글쓴이</option>
                            </select>
                            <input type="text" placeholder="검색어를 입력하세요.">
                        </form>
                        <div class="tableBox">
                            <table class="table_1">
                                <thead>
                                    <tr>
                                        <td>No.</td>
                                        <td>제목</td>
                                        <td>작성일</td>
                                        <td>조회</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>15</td>
                                        <td>ㅇㅇㅇ이벤트 당첨자 발표</td>
                                        <td>2022-04-30</td>
                                        <td>83</td>
                                    </tr>
                                    <tr>
                                        <td>14</td>
                                        <td>ㅇㅇㅇ이벤트 당첨자 발표</td>
                                        <td>2022-03-30</td>
                                        <td>83</td>
                                    </tr>
                                    <tr>
                                        <td>13</td>
                                        <td>ㅇㅇㅇ이벤트 당첨자 발표</td>
                                        <td>2022-02-20</td>
                                        <td>83</td>
                                    </tr>
                                    <tr>
                                        <td>12</td>
                                        <td>ㅇㅇㅇ이벤트 당첨자 발표</td>
                                        <td>2022-01-30</td>
                                        <td>83</td>
                                    </tr>
                                    <tr>
                                        <td>11</td>
                                        <td>ㅇㅇㅇ이벤트 당첨자 발표</td>
                                        <td>2021-12-30</td>
                                        <td>83</td>
                                    </tr>
                                </tbody>
                            </table>
                            <table class="table_2">
                                <thead>
                                    <tr>
                                        <td>No.</td>
                                        <td>제목</td>
                                        <td>작성일</td>
                                        <td>조회</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>10</td>
                                        <td>ㅇㅇㅇ이벤트 당첨자 발표</td>
                                        <td>2021-11-30</td>
                                        <td>83</td>
                                    </tr>
                                    <tr>
                                        <td>09</td>
                                        <td>ㅇㅇㅇ이벤트 당첨자 발표</td>
                                        <td>2021-10-30</td>
                                        <td>83</td>
                                    </tr>
                                    <tr>
                                        <td>08</td>
                                        <td>ㅇㅇㅇ이벤트 당첨자 발표</td>
                                        <td>2021-09-30</td>
                                        <td>83</td>
                                    </tr>
                                    <tr>
                                        <td>07</td>
                                        <td>ㅇㅇㅇ이벤트 당첨자 발표</td>
                                        <td>2021-08-30</td>
                                        <td>83</td>
                                    </tr>
                                    <tr>
                                        <td>06</td>
                                        <td>ㅇㅇㅇ이벤트 당첨자 발표</td>
                                        <td>2021-07-30</td>
                                        <td>83</td>
                                    </tr>
                                </tbody>
                            </table>
                            <table class="table_3">
                                <thead>
                                    <tr>
                                        <td>No.</td>
                                        <td>제목</td>
                                        <td>작성일</td>
                                        <td>조회</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>05</td>
                                        <td>ㅇㅇㅇ이벤트 당첨자 발표</td>
                                        <td>2021-06-30</td>
                                        <td>83</td>
                                    </tr>
                                    <tr>
                                        <td>04</td>
                                        <td>ㅇㅇㅇ이벤트 당첨자 발표</td>
                                        <td>2021-04-30</td>
                                        <td>83</td>
                                    </tr>
                                    <tr>
                                        <td>03</td>
                                        <td>ㅇㅇㅇ이벤트 당첨자 발표</td>
                                        <td>2021-03-30</td>
                                        <td>83</td>
                                    </tr>
                                    <tr>
                                        <td>02</td>
                                        <td>ㅇㅇㅇ이벤트 당첨자 발표</td>
                                        <td>2021-02-20</td>
                                        <td>83</td>
                                    </tr>
                                    <tr>
                                        <td>01</td>
                                        <td>ㅇㅇㅇ이벤트 당첨자 발표</td>
                                        <td>2021-01-30</td>
                                        <td>83</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="announce_btn">
                            <button> <i class="fa-solid fa-circle-chevron-left"></i> </button>
                            <button class="num on"> 1 </button>
                            <button class="num"> 2 </button>
                            <button class="num"> 3 </button>
                            <button> <i class="fa-solid fa-circle-chevron-right"></i> </button>
                        </div>
                    </li>
                </ul>
            </section>
        </main>
        <footer>
            <div class="footer_inner">
                <div class="footer_nav">
                    <div class="ours">
                        <span>회사소개</span>
                        <span>이용약관</span>
                        <span>개인정보처리방침</span>
                        <span>캐토피아</span>
                    </div>
                    <div class="inquiry">
                        <span>공지사항</span>
                        <span>FAQ</span>
                        <span>비회원 문의</span>
                        <span>단체입양문의</span>
                    </div>
                </div>
                <div class="footer_info">
                    <div class="info_left">
                        <strong class="coution">
                            캐토피아의 모든 콘텐츠는 저작권의 보호를 받고 있습니다.
                        </strong>
                        <span class="address">
                            캐토피아(주)주소 : 서울특별시 강남구 역삼동 제노아빌딩 3층 | 대표번호 : 1522-0071 | 평일 : 10:00 – 17:00 (주말, 공휴일 휴무)
                        </span>
                        <span class="businessNumber">
                            사업자등록번호 : 186-81-002345 | 사업자정보확인통신판매업 신고번호 : 2017-서울강남-1471호
                        </span>
                        <strong class="kcp">
                            KCP 구매안전서비스
                        </strong>
                        <span class="kcp_guide">
                            고객님은 안전거래를 위해 현금 등으로 결제시 저희 쇼핑몰에서 가입한 구매안전 (에스크로) 서비스를 이용하실 수 있습니다.
                        </span>
                        <span class="copyright">
                            Copyright Catopia Co., LTD. All rights reserved.
                        </span>
                    </div>
                    <div class="info_right">
                        <div class="socials">
                            <div>
                                <i class="fa-brands fa-facebook-f"></i>
                            </div>
                            <div>
                                <i class="fa-brands fa-blogger-b"></i>
                            </div>
                            <div>
                                <i class="fa-brands fa-instagram"></i>
                            </div>
                            <div>
                                <i class="fa-brands fa-youtube"></i>
                            </div>
                        </div>
                        <!--// socials-->
                        <div class="advertising">
                            <img src="../assets/images/cat_footer.png" alt="">
                        </div>
                    </div>
                    <!--// right-->
                </div>
            </div>
        </footer>

    </div>



    <!--모든페이지 동일 js 주소-->
    <script src="https://kit.fontawesome.com/295e7141fb.js" crossorigin="anonymous"></script>
    <!--모든페이지 동일 js 주소-->
</body>

</html>