<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/style.css">
    <!--// 모든페이지 동일 css 주소-->

    <title>Home</title>
</head>

<body>
    <div class="wrap" id="home">
        <header>
            <div class="header_inner">
                <h1 class="logo">
                    <a href="./home.html">CATOPIA</a>
                </h1>
                <nav>
                    <a href="#">
                        고양이들
                        <div class="nav_border"></div>
                    </a>
                    <a href="./event.html">
                        이벤트
                        <div class="nav_border"></div>
                    </a>
                    <a href="#">
                        갤러리
                        <div class="nav_border"></div>
                    </a>
                </nav>
                <div class="myPage">
                    <a class="loginState" href="./login.html">
                        <span>로그인</span>
                    </a>
                    <a href="./home.html"><i class="fa-solid fa-basket-shopping"></i></a>
                    <a href="./home.html"><i class="fa-solid fa-magnifying-glass"></i></a>
                </div>
                <div class="header_bg"></div>
            </div>
        </header>

        <main class="home">
            <section class="banner">
                <div class="slider">
                    <div class="slide">
                        <div class="item on" data-slide-img="1">
                            <img src="../assets/images/slider_1.jpeg" alt="">
                            <div class="introduce_cat">
                                <span class="cat_name">1번 고양이</span>
                                <span class="cat_desc">1번 고양이는 이쁩니다.</span>
                            </div>
                        </div>
                        <div class="item" data-slide-img="2">
                            <img src="../assets/images/slider_2.jpeg" alt="">
                            <div class="introduce_cat">
                                <span class="cat_name">2번 고양이</span>
                                <span class="cat_desc">2번 고양이는 이쁩니다.</span>
                            </div>
                        </div>
                        <div class="item" data-slide-img="3">
                            <img src="../assets/images/slider_3.jpeg" alt="">
                            <div class="introduce_cat">
                                <span class="cat_name">3번 고양이</span>
                                <span class="cat_desc">3번 고양이는 이쁩니다.</span>
                            </div>
                        </div>
                        <div class="item" data-slide-img="4">
                            <img src="../assets/images/slider_4.jpeg" alt="">
                            <div class="introduce_cat">
                                <span class="cat_name">4번 고양이</span>
                                <span class="cat_desc">4번 고양이는 이쁩니다.</span>
                            </div>
                        </div>
                        <div class="item" data-slide-img="5">
                            <img src="../assets/images/slider_5.jpeg" alt="">
                            <div class="introduce_cat">
                                <span class="cat_name">5번 고양이</span>
                                <span class="cat_desc">5번 고양이는 이쁩니다.</span>
                            </div>
                        </div>
                    </div>
                    <!--// slide-->
                    <button class="button nextBtn">
                        <i class="fa-solid fa-circle-chevron-right"></i>
                    </button>
                    <button class="button prevBtn">
                        <i class="fa-solid fa-circle-chevron-left"></i>
                    </button>
                </div>
                <!--// slider-->
            </section>

            <section class="newCats">

            </section>

            <section class="onSale">

            </section>
        </main>

        <footer>
            <div class="footer_inner">
                <div class="footer_nav">
                    <div class="ours">
                        <span>회사소개</span>
                        <span>이용약관</span>
                        <span>개인정보처리방침</span>
                        <span>케토피아</span>
                    </div>
                    <div class="inquiry">
                        <span>공지사항</span>
                        <span>FAQ</span>
                        <span>비회원 문의</span>
                        <span>단체입양문의</span>
                    </div>
                </div>
                <div class="footer_info">
                    <div class="info_left">
                        <strong class="coution">
                            캐토피아의 모든 콘텐츠는 저작권의 보호를 받고 있습니다.
                        </strong>
                        <span class="address">
                            케토피아(주)주소 : 서울특별시 강남구 역삼동 제노아빌딩 3층 | 대표번호 : 1522-0071 | 평일 : 10:00 – 17:00 (주말, 공휴일 휴무)
                        </span>
                        <span class="businessNumber">
                            사업자등록번호 : 186-81-002345 | 사업자정보확인통신판매업 신고번호 : 2017-서울강남-1471호
                        </span>
                        <strong class="kcp">
                            KCP 구매안전서비스
                        </strong>
                        <span class="kcp_guide">
                            고객님은 안전거래를 위해 현금 등으로 결제시 저희 쇼핑몰에서 가입한 구매안전 (에스크로) 서비스를 이용하실 수 있습니다.
                        </span>
                        <span class="copyright">
                            Copyright Catopia Co., LTD. All rights reserved.
                        </span>
                    </div>
                    <div class="info_right">
                        <div class="socials">
                            <div>
                                <i class="fa-brands fa-facebook-f"></i>
                            </div>
                            <div>
                                <i class="fa-brands fa-blogger-b"></i>
                            </div>
                            <div>
                                <i class="fa-brands fa-instagram"></i>
                            </div>
                            <div>
                                <i class="fa-brands fa-youtube"></i>
                            </div>
                        </div>
                        <!--// socials-->
                        <div class="advertising">
                            <img src="../assets/images/cat_footer.png" alt="">
                        </div>
                    </div>
                    <!--// right-->
                </div>
            </div>
        </footer>

    </div>




    <script src="https://kit.fontawesome.com/295e7141fb.js" crossorigin="anonymous"></script>
    <!--font awasome-->
</body>

</html>