<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/css/styles.css">
    <!--// 모든페이지 동일 css 주소-->
    <title>home</title>
</head>

<body>
    <div id="home">
        <header>
            <h1>
                <a href="./home.html">CATOPIA</a>
            </h1>
            <nav>
                <a href="#">고양이들</a>
                <a href="#">이벤트</a>
                <a href="#">갤러리</a>
            </nav>
            <div class="myPage">
                <a href="#">로그인</a>
                <a href="#">장바구니</a>
                <a href="#">검색</a>
            </div>
        </header>
        <main class="home">

        </main>
        <footer>

        </footer>

    </div>



    <!--모든페이지 동일 js 주소-->
    <script src="../../public/js/main.js"></script>
    <!--모든페이지 동일 js 주소-->
</body>

</html>