@import "./config/reset.scss";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import "./config/_variables";
@import "./config/_mixin";
// config

@import "./components/header.scss";
// components

@import "./screen/home.scss";
@import "./screen/promotion.scss";
// screen

* {
  font-family: "Roboto", Arial, sans-serif;
  box-sizing: border-box;
  color: #333;
}
