@import "./config/reset.scss";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import "./config/_variables";
@import "./config/_mixin";
// config

@import "./components/header.scss";
@import "./components/footer.scss";
// components

@import "./screen/home.scss";
@import "./screen/promotion.scss";
@import "./screen/login.scss";
@import "./screen/join.scss";
// screen

* {
  font-family: "Roboto", Arial, sans-serif;
  box-sizing: border-box;
  color: #333;
}
.wrap {
  width: 100%;
  main {
    width: 1440px;
    margin: 0 auto;
    @include max(1440px) {
      width: 100%;
    }
  }
}
